:root {
  --clr-black: #222;
  --clr-grey: silver;
  --clr-yellow: gold;
  --clr-blue: dodgerblue;
  --transition: 200ms;
}
body {
  width: 100vh;
  width: 100vw;
  padding: 5rem 0;
  margin: 0;
}
body .product-card {
  margin: 0 auto;
  width: 325px;
}
.product-card {
  font-family: sans-serif;
  border: 1px solid var(--clr-black);
  padding: 1rem;
  position: relative;
}
.product-card > img,
.product-card > h3,
.product-card > button,
.product-card .prices,
.product-card .rating {
  margin-top: 2rem;
}
.product-card > img {
  width: 100%;
}
.product-card h3 {
  font-size: 1.5rem;
}
.product-card > span.stock {
  color: green;
}
.product-card > button {
  text-transform: uppercase;
  width: 100%;
  border: none;
  height: 3rem;
  font-weight: bold;
  background-color: var(--clr-blue);
  color: white;
  transition: background-color var(--transition) ease;
}
.product-card > button:hover {
  background-color: darkblue;
}
.product-card .prices {
  width: 100%;
  display: flex;
}
.product-card .prices > span {
  flex: 1;
  color: var(--clr-black);
  position: relative;
  font-size: 2rem;
  font-weight: bold;
}
.product-card .prices > span:before {
  content: 'NOW';
  position: absolute;
  font-size: 0.8rem;
  top: -12px;
  left: 0;
}
.product-card .prices > span:nth-of-type(2) {
  color: var(--clr-grey);
}
.product-card .prices > span:nth-of-type(2):before {
  content: 'WAS';
}
.product-card .rating {
  position: relative;
  width: 100%;
}
.product-card .rating span {
  font-size: 1.5rem;
  color: var(--clr-grey);
}
i.heart {
  background-color: black;
  mask-image: url(assets/SVGs/heart-outline.svg);
  position: absolute;
  width: 2rem;
  height: 2rem;
  display: block;
  right: 1rem;
  top: 1rem;
  transition: background-color var(--transition) ease;
}
i.heart:hover {
  cursor: pointer;
  background-color: red;
  mask-image: url(assets/SVGs/heart.svg);
}
i.star {
  background-color: var(--clr-yellow);
  mask-image: url(assets/SVGs/star-outline.svg);
  display: inline-block;
  height: 2rem;
  width: 2rem;
  right: 1rem;
  top: 1rem;
}
i.star[filled] {
  mask-image: url(assets/SVGs/star.svg);
}
